


.centerProject{
    margin-top: 100px;
}

.card-title{
    text-align: center;
    font-size: 2.5rem;
    padding: 10px;
    font-weight: 1000;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all .2s ease-in-out;
}

.card:hover{
    transform: translate3D(0,-1px,0) scale(1.03);
}

.col-sm{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.modal-title{
    font-size: 2rem;
    border-top: 2px grey;
}

.modal-backdrop {
    background-color: white;
}
.modal-content {
    margin: 2px auto;
    z-index: 1100 !important;
}
.modal-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.modalImage{
   margin: auto;
}

.modalDescription{
    padding: 20px;
    font-size: 1.5rem;
    margin-bottom: 0;
}

.modalLinks{
    transform: rotate(90deg);
    
    padding-right: 10px;
    color:  #000000;
    font-size: 7px;
    
}

.d-block{

    max-height:450px ;
}



@media (max-width:991px) {
    .d-block{
        max-height:300px ;
    }
    .col-sm{
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width:550px) {
    .d-block{
        max-height:200px ;
    }
}
.modalLinks i:hover{
    
    color: rgb(92, 92, 92);
  }

  .btn{
      font-size: 1.5rem;
  }

.bi.bi-link:hover{
    fill: grey;
}
.carousel-indicators{
    height: 3px;
}
.carousel-indicators button {
    -webkit-box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.699);
    -moz-box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.699);
    box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.699);  
      border-top-width: 0;
    border-bottom-width: 0;
    background-color: rgb(0, 0, 0);
    opacity: 1;
    height: 3px;
}

.carousel-indicators .active {
    background-color: rgb(150, 148, 148);
}
.carousel-control-prev-icon{margin-right: 30px;}
.carousel-control-next-icon {margin-left: 30px;}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: rgb(0, 0, 0);
  
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: rgb(0, 0, 0);
}

.mat-standard-chip {
    font-size: 1.2rem;
color: rgb(0, 0, 0);
background-color: rgba(199, 199, 199, 0.678);
}

.container-modalEnd{
    padding: 25px;
    padding-bottom: 15px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}